{{ define "delButton"}}
<form action="{{ . }}" method="POST">
    <input type="submit" class="
        p-1
        px-3
        cursor-pointer
        rounded
        shadow
        text-white
        m-1
        bg-red-500
        " value="X" />

</form>
{{ end }}