{{ define "navbar" }}
<nav class="bg-yellow-500 flex justify-between p-3 text-white font-extrabold text-xl">
  <a href="/" class="font-light">V U L P E S</a>

  <div class="font-light text-white">
    <a href="/users" class="m-2">USERS</a>
    <a href="/telegram" class="m-2">TELEGRAM</a>
  </div>
</nav>
{{ end }}